* {
  font-family: proxima-nova;
}

.custom-parallax {
  background-color: black;
}

.custom-parallax2 {
  background-image: url("../img/bg2.jpg");
}

.custom-parallax3 {
  background-image: url("../img/bg3.jpg");
}

.custom-parallax4 {
  background-image: url("../img/bg4.jpg");
}

.custom-parallax, .custom-parallax2, .custom-parallax3, .custom-parallax4 {
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

body, html {
  height: 100%
}

h1 {
  font-weight: 200;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

#navbar {
  background-color: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}

#nav-mobile {
  font-weight: bold;
  text-transform: uppercase;
}

#footer {
  background-color: black;
  color: white;
  z-index: 1;
}

#contact-text {
  font-size: 14px;
}

.main-text {
  font-size: 40px;
  font-weight: bold;
}

#hours, #location {
  
}

#home {
  color: white;
  text-align: center;
}

#menu {
  background: transparent;
}

#lunch-special{
  background: transparent;
  height: 400px
}

#story {
  background:transparent;
  color: black;
  height: 100%;
}

.tabs {
  background: transparent;
  color: black;
}

#stories_TOC {
  position: relative;
}

.pin-top, .pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

#catering {
  background: transparent;
  color: white;
}

.caption {
  font-size: 40px;
  text-align: center;
}

.card {
  height: auto;
  width: auto;
  overflow: hidden;
}

.card-image, .card-reveal {

}
